body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border-bottom: 5px dashed black;
  background-color: rgb(94, 94, 142);
}
#currentDay, #currentTime {
  font-size: 2em; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  color: black; /* Change the text color */
  text-shadow: 2px 2px 4px #000000; /* Add a text shadow */
  text-align: center; /* Center the text */
}
p.lead {
  font-weight: bold; 
  text-align: center; 
  font-size: 1.5em; 
  font-style:italic;
    color: black; 
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  border: #000000 3px solid;
  
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: grey;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black
}

.future {
  background-color: #77dd77;
  color: black
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.container {
  border: 5px solid #000000; /* Add a border */
  padding: 10px; /* Add some padding */
}